@import "../../index.scss";

#navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    padding: 4vh 8vh;
    justify-content: right;
    border-bottom: 3px solid themed("fill");
    box-shadow: 1px 1px 27px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 27px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 27px 0px rgba(0, 0, 0, 0.1);

    .right {
      justify-content: right;
      align-items: center;

      #theme-selector {
        display: flex;
        text-align: center;
        gap: 20px;
      }
    }
  }
}
