@import "../../index.scss";

#navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    padding: 0 8vh;
    border-right: 2px solid themed("fill");
    box-shadow: 1px 1px 27px 0px #0000001a;
    -webkit-box-shadow: 1px 1px 27px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 27px 0px rgba(0, 0, 0, 0.1);

    .center {
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: align;
      text-align: center;
    }

    .right {
      display: flex;
      justify-content: right;
      flex-direction: row;
      padding-left: 5rem;
      gap: 3rem;

      #theme-selector {
        display: flex;
        text-align: center;
      }
    }
  }
}
